<nav>
  <ul class="horizontal-menu">
    <li><a href="#">MENU</a>
      <ul class="vertical-menu">
        <li><a class="nav-link" href="/products">Todos los productos</a></li>
        <li><a class="nav-link" href="/products/create">Agregar producto</a></li>
        <li><a class="nav-link" href="/chat">Chat en tiempo real</a></li>
      </ul>
    </li>
    <li>
      <a href="/products">HOME</a>
    </li>
    {{#if user}}
      <li><a href="/sessions/user">MI PERFIL</a></li>
    {{else}}
      <li><a href="/sessions/login">INICIAR SESIÓN</a></li>
      <li><a href="/sessions/register">REGISTRARSE</a></li>
    {{/if}}
  </ul>
</nav>
<h2>Usuario:</h2>

<div>
    <h2><b>Nombre:</b> {{user.first_name}}</h2>
    <h2><b>Apellido:</b> {{user.last_name}}</h2>
    <h5><b>Email:</b> {{user.email}}</h5>
    <h5><b>Edad:</b> {{user.age}}</h5>
    <h5><b>Rol</b>: {{user.role}}</h5>
</div>

<a href="/sessions/logout">Logout</a>