<h2>Usuario:</h2>

<div>
    <h2><b>Nombre:</b> {{user.first_name}}</h2>
    <h2><b>Apellido:</b> {{user.last_name}}</h2>
    <h5><b>Email:</b> {{user.email}}</h5>
    <h5><b>Edad:</b> {{user.age}}</h5>
    <h5><b>Rol</b>: {{user.role}}</h5>
</div>

<a href="/sessions/logout">Logout</a>