<nav>
      <div>
        <a href="#">MENU</a>
        <ul class="vertical-menu">
          <li><a class="nav-link" href="/products">Todos los productos</a></li>
          <li><a class="nav-link" href="/products/create">Agregar producto</a></li>
          <li><a class="nav-link" href="/chat">Chat en tiempo real</a></li>
        </ul>
      </div>
      <div>
        <a href="/products">HOME</a>
      </div>
      <div>
        {{#if user}}
          <a href="/sessions/user">MI PERFIL</a>
        {{else}}
          <div>
            <a href="/sessions/login">INICIAR SESIÓN</a>
            <a href="/sessions/register">REGISTRARSE</a>
          </div>
        {{/if}}
      </div>
    </nav>
<section>
  <h2>Carrito</h2>
  <div>
    {{#each products}}
      <div>
        <div>
          <img
            src={{this.product.thumbnails}}
            alt={{this.product.title}}/>
        </div>
        <div>
          <h2>{{this.product.title}}</h2>
          <h4>${{this.product.price}}</h4>
        </div>
      </div>
    {{/each}}
  </div>

  <div>
    {{#if hasPrevPage}}
      <a href="{{prevLink}}">Anterior</a>
    {{/if}}
    {{#if hasNextPage}}
      <a href="{{nextLink}}">Siguiente</a>
    {{/if}}
  </div>
</section>