<header>
  <div class="top-nav">
    <p>Free shipping on orders over $99</p>
    <div>
      <a href="#">
        <i class="bx bxl-facebook"></i>
      </a>
      <a href="#">
        <i class="bx bxl-twitter"></i>
      </a>
      <a href="#">
        <i class="bx bxl-instagram"></i>
      </a>
      <a class="profile-top-nav" href="/sessions/user">
        <i class="bx bxs-user"></i>
      </a>
    </div>
  </div>

  <nav>
    <ul class="horizontal-menu">
      <li>
        <input type="checkbox" id="toggle" />
        <label class="toggle" for="toggle">
          <i class="bx bxs-sun"></i>
          <i class="bx bx-moon"></i>
          <span class="ball"></span>
        </label>
      </li>
      <div>
        <li><a href="#">MENU</a>
          <ul class="vertical-menu">
            <li><a class="nav-link" href="/products">All products</a></li>
            <li><a class="nav-link" href="/products/create">Add product</a></li>
            <li><a class="nav-link" href="/chat">Chat</a></li>
          </ul>
        </li>
        <li>
          <a href="/products">HOME</a>
        </li>
        {{#if user}}
          <li><a href="/sessions/user">PERFIL</a></li>
          <li><a href="/carts/{{user.cart}}"><i
                class="bx bxs-cart-alt"
              ></i></a></li>
        {{else}}
          <li><a href="/sessions/login">LOG IN</a></li>
          <li><a href="/sessions/register">REGISTER</a></li>
        {{/if}}
      </div>
    </ul>
  </nav>
</header>
<section class="cart-section">
  <h2>CART</h2>
  <div class="cart-container">
      {{#each products.products}}
        {{#if this.product}}
          <div class="cart-item">
            <div class="product">
              <img src={{this.product.thumbnails}} alt={{this.product.title}} />
              <div class="product-details">
                <span class="product-name">{{this.product.title}}</span>
                <span
                  class="product-description"
                >{{this.product.description}}</span>
                <span>${{this.product.price}}</span>
              </div>
              <div class="quantity-box">
                <span class="quantity">{{quantity}}</span>
                <form
                  action="/carts/{{../cid}}/products/{{this.product._id}}"
                  method="post">
                    <button type="submit">+</button>
                </form>
              </div>
            </div>
          </div>
        {{/if}}
        {{else}}
        <span>Your cart is currently empty.</span>
      {{/each}}
    <div class="cart-total"></div>
  </div>

  <div class="cart-buttons">
    <form action="/carts/{{cid}}/purchase" method="post">
      <button type="submit">Purchase</button>
    </form>
    <form action="/carts/{{cid}}" method="post">
      <button type="submit">Empty cart</button>
    </form>
  </div>
</section>

<div class="go-top-container">
  <div class="go-top-button">
    <i class="bx bx-chevron-up"></i>
  </div>
</div>

<footer>
  <div class="footer-container">
    <div class="footer-links">
      <a href="#">HOME</a>
      <a href="/products">PRODUCTS</a>
      <a href="mailto:gastonvigliano@gmail.com">CONTACT</a>
      <a href="#">ABOUT US</a>
    </div>
    <div class="text-divider"></div>
    <div>
      <div class="footer-ubi-mail">
        <div>
          <i class="bx bxs-location-plus"></i>
          <p>Av. 9 de Julio, Buenos Aires</p>
        </div>
        <div>
          <a href="mailto:gastonvigliano@gmail.com"><i
              class="bx bxs-envelope"
            ></i></a>
          <p>gastonvigliano@gmail.com</p>
        </div>
      </div>
      <div class="text-divider"></div>
      <p class="footer-text"> Enjoy a seamless shopping experience with our user-friendly interface and dedicated customer support. Embrace the essence of minimalist fashion and create effortlessly sophisticated looks at Minimalist Fashion.</p>
    </div>
  </div>
</footer>
<div class="footer-bottom">
  <p>© 2023 Backend coder ecommerce | Website by Gastón Vigliano</p>
  <div>
    <a href="mailto:gastonvigliano@gmail.com">
      <i class="bx bxs-envelope"></i>
    </a>
    <a href="#">
      <i class="bx bxl-facebook"></i>
    </a>
    <a href="#">
      <i class="bx bxl-twitter"></i>
    </a>
    <a href="#">
      <i class="bx bxl-instagram"></i>
    </a>
  </div>
</div>