<nav>
      <div>
        <a href="#">MENU</a>
        <ul class="vertical-menu">
          <li><a class="nav-link" href="/products">Todos los productos</a></li>
          <li><a class="nav-link" href="/products/create">Agregar producto</a></li>
          <li><a class="nav-link" href="/chat">Chat en tiempo real</a></li>
        </ul>
      </div>
      <div>
        <a href="/products">HOME</a>
      </div>
      <div>
        {{#if user}}
          <a href="/sessions/user">MI PERFIL</a>
        {{else}}
          <div>
            <a href="/sessions/login">INICIAR SESIÓN</a>
            <a href="/sessions/register">REGISTRARSE</a>
          </div>
        {{/if}}
      </div>
    </nav>
<div>
    <h1>{{product.title}}</h1>
    <p>{{product.description}}</p>
    <p>Precio: ${{product.price}}</p>
    <p>Categoria: #{{product.category}}</p>
    <img src="{{product.thumbnails}}" height="150">    
</div>

<form action="/products/delete/{{product._id}}" method="get">
    <input type="submit" value="Borrar producto">
</form>