<nav>
  <div>
    <a href="#">MENU</a>
    <ul class="vertical-menu">
      <li><a class="nav-link" href="/products">Todos los productos</a></li>
      <li><a class="nav-link" href="/products/create">Agregar producto</a></li>
      <li><a class="nav-link" href="/chat">Chat en tiempo real</a></li>
    </ul>
  </div>
  <div>
    <a href="/products">HOME</a>
  </div>
  <div>
    {{#if user}}
      <a href="/sessions/user">MI PERFIL</a>
    {{else}}
      <div>
        <a href="/sessions/login">INICIAR SESIÓN</a>
        <a href="/sessions/register">REGISTRARSE</a>
      </div>
    {{/if}}
  </div>
</nav>
<div>
  {{#if user}}
    <h4>Bienvenido, {{user.first_name}}</h4>
  {{/if}}
</div>
<div class="saludo">
  <h2>Lista de todos los productos agregados hasta el momento:</h2>
  {{#if products}}
    <div class="products">
      {{#each products.docs}}
        <div>
          <h3>{{this.title}}</h3>
          <p>{{this.description}}</p>
          <h4>${{this.price}}</h4>
          <h5>Stock disponible: {{this.stock}}</h5>
          <hr />
          <a href="/products/{{this._id}}" class="btn">Ver detalle</a>
        </div>
      {{/each}}
    </div>
  {{else}}
    <h3>No existen productos...</h3>
  {{/if}}
</div>
<div>
  {{#if products.hasPrevPage}}
    <a href="{{products.prevLink}}" class="btn">Anterior</a>
  {{/if}}
  {{#if products.hasNextPage}}
    <a href="{{products.nextLink}}" class="btn">Siguiente</a>
  {{/if}}
</div>
<script src="/socket.io/socket.io.js"></script>