<header>
  <div class="top-nav">
    <p>Free shipping on orders over $99</p>
    <div>
      <a href="#">
        <i class="bx bxl-facebook"></i>
      </a>
      <a href="#">
        <i class="bx bxl-twitter"></i>
      </a>
      <a href="#">
        <i class="bx bxl-instagram"></i>
      </a>
      <a class="profile-top-nav" href="/sessions/user">
        <i class="bx bxs-user"></i>
      </a>
    </div>
  </div>

  <nav>
    <ul class="horizontal-menu">
      <li>
        <input type="checkbox" id="toggle" />
        <label class="toggle" for="toggle">
          <i class="bx bxs-sun"></i>
          <i class="bx bx-moon"></i>
          <span class="ball"></span>
        </label>
      </li>
      <div>
        <li><a href="#">MENU</a>
          <ul class="vertical-menu">
            <li><a class="nav-link" href="/products">All products</a></li>
            <li><a class="nav-link" href="/products/create">Add product</a></li>
            <li><a class="nav-link" href="/chat">Chat</a></li>
          </ul>
        </li>
        <li>
          <a href="/products">HOME</a>
        </li>
        {{#if user}}
          <li><a href="/sessions/user">PERFIL</a></li>
          <li><a href="/carts/{{user.cart}}"><i
                class="bx bxs-cart-alt"
              ></i></a></li>
        {{else}}
          <li><a href="/sessions/login">LOG IN</a></li>
          <li><a href="/sessions/register">REGISTER</a></li>
        {{/if}}
      </div>
    </ul>
  </nav>
  {{#if user}}
  <div class="benvenuti">
    <h4>Welcome, {{user.first_name}}</h4>
  </div>
  {{/if}}

  <div class="mini-slider">
    <div class="slide-track">
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/backend_szpho2.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/coder_nghheg.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/eccomerce_lo9eaa.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/backend_szpho2.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/coder_nghheg.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/eccomerce_lo9eaa.png"
          alt=""
        />
      </div>

      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/backend_szpho2.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/coder_nghheg.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/eccomerce_lo9eaa.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/backend_szpho2.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/coder_nghheg.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/eccomerce_lo9eaa.png"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="slider-frame">
    <div class="slider-text">
      <div>
        <p>Fashion is a concept and you represent it.</p>
        <a href="#products">GO TO</a>
      </div>
    </div>
    <ul>
      <li><img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685393830/slider/sneakers_2_dt1jwu.jpg"
          alt="Sneakers"
        /></li>
      <li><img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685393830/slider/sneakers_5_wk2r2o.jpg"
          alt="Sneakers"
        /></li>
      <li><img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685908194/sneakers_n8v4yq.jpg"
          alt="Sneakers"
        /></li>
      <li><img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685393830/slider/sneakers_3_v6qayh.jpg"
          alt="Sneakers"
        /></li>
    </ul>
  </div>

  <div class="mini-slider">
    <div class="slide-track">
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/backend_szpho2.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/coder_nghheg.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/eccomerce_lo9eaa.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/backend_szpho2.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/coder_nghheg.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/eccomerce_lo9eaa.png"
          alt=""
        />
      </div>

      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/backend_szpho2.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/coder_nghheg.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/eccomerce_lo9eaa.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/backend_szpho2.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/coder_nghheg.png"
          alt=""
        />
      </div>
      <div class="slide">
        <img
          src="https://res.cloudinary.com/gvigliano/image/upload/v1685397252/slider/eccomerce_lo9eaa.png"
          alt=""
        />
      </div>
    </div>
  </div>
</header>

<div class="categories">
  <a href="/products?category=clothes">#clothes</a>
  <a href="/products?category=sneakers">#sneakers</a>
  <a href="/products?category=men%27s%20clothing">#men's clothing</a>
</div>

<div id="products" class="products-container">
  {{#if products}}
    {{#each products.docs}}
      <div class="card">
        <img src="{{this.thumbnails}}" alt="{{this.title}}" />
        <div class="card-info">
          <h3>{{this.title}}</h3>
          <p>{{this.description}}</p>
          <span class="product-category"><a href="/products?category={{this.category}}">#{{this.category}}</a></span>
          <div>
            <h4>${{this.price}}</h4>
            <a href="/products/{{this._id}}" class="btn">
              <i class='bx bxs-info-circle'></i></a>
          </div>
          <form
            action="/carts/{{../user.cart}}/products/{{this._id}}"
            method="post"
          >
            <input
              class="add-to-cart-button"
              type="submit"
              value="Add to cart"
            />
          </form>
        </div>
      </div>
    {{/each}}
  {{else}}
    <h3>No existen productos...</h3>
  {{/if}}
</div>
<div class="prevpage-container">
  {{#if products.hasPrevPage}}
    <a href="{{products.prevLink}}">Previous page</a>
  {{/if}}
  {{#if products.hasNextPage}}
    <a href="{{products.nextLink}}">Next page</a>
  {{/if}}
</div>

<div class="go-top-container">
  <div class="go-top-button">
    <i class="bx bx-chevron-up"></i>
  </div>
</div>

<footer>
  <div class="footer-container">
    <div class="footer-links">
      <a href="#">HOME</a>
      <a href="/products">PRODUCTS</a>
      <a href="mailto:gastonvigliano@gmail.com">CONTACT</a>
      <a href="#">ABOUT US</a>
    </div>
    <div class="text-divider"></div>
    <div>
      <div class="footer-ubi-mail">
        <div>
          <i class="bx bxs-location-plus"></i>
          <p>Av. 9 de Julio, Buenos Aires</p>
        </div>
        <div>
          <a href="mailto:gastonvigliano@gmail.com"><i
              class="bx bxs-envelope"
            ></i></a>
          <p>gastonvigliano@gmail.com</p>
        </div>
      </div>
      <div class="text-divider"></div>
      <p class="footer-text"> Enjoy a seamless shopping experience with our user-friendly interface and dedicated customer support. Embrace the essence of minimalist fashion and create effortlessly sophisticated looks at Minimalist Fashion.</p>
    </div>
  </div>
</footer>
<div class="footer-bottom">
  <p>© 2023 Backend coder ecommerce | Website by Gastón Vigliano</p>
  <div>
    <a href="mailto:gastonvigliano@gmail.com">
      <i class="bx bxs-envelope"></i>
    </a>
    <a href="#">
      <i class="bx bxl-facebook"></i>
    </a>
    <a href="#">
      <i class="bx bxl-twitter"></i>
    </a>
    <a href="#">
      <i class="bx bxl-instagram"></i>
    </a>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>